<h1> ABOUT CUSTOMER MANAGEMENT SERVICE</h1>

<div>
<h4>What is Consumer Management System?</h4>
   <p> A customer management system is a cluster 
    of all the systems, processes, and applications
     that are needed to manage customer relationships. 
     It is also commonly known as Customer Relationship Management.</p>

<h4>what we do?</h4>
<p>we build robust and fast CRM to our users where they fell like LIGHT SPEED</p>
</div>

<div>
<h1>CONTACT US</h1>

<h4>NAME:PRIYA SAI MANOHAR</h4>
<h4>EMAILID:saimanoharpriya2017@gmail.com</h4>

</div>