<h1>CUSTOMERS</h1>

<div>
    <button class="btn btn-primary" style="margin-right: 16px">LIST VIEW</button>
    
    <button class="btn btn-primary" style="margin-right: 16px">EDIT VIEW</button>

</div>
<br><br>

<div  stye="margin-down: 50px;padding:20px;" onclick="submit">
    <h4>FirstName:</h4>
    <input type="text"><br><br>
    
    <h4>LastName:</h4>
    <input type="text"><br><br>

    
    <h4>Email   :</h4>
    <input type="text"><br><br>

    
    <h4>City:</h4>
    <input type="text"><br><br>

    
    <h4> Address:</h4>
    <input type="text"><br><br>
</div>
<div>
    <div>
        <button type="submit" class="btn btn-primary" style="margin-right: 16px">SUBMIT</button>
        
        <button type="reset"class="btn btn-primary" style="margin-right: 16px">CANCEL</button>
    
    </div>
</div>